# Complilation of auxiliary data

In [1]:
import re, os, sys#, math, pickle, subprocess, resource, random
from pathlib import Path
import numpy
import pandas
from pandas import DataFrame, Series

numpy.random.seed(7)

### Analysis dirs

In [2]:
root_dir = Path(os.environ['HOME'], 'simons/faststorage/people/kmt')
#meta_data_dir = Path(os.environ['HOME'], 'simons/faststorage/data/metadata')
#steps_dir = root_dir / 'steps'
#argweaver_dir = steps_dir / 'argweaver/output'
results_dir = root_dir / 'results'
#figures_dir = root_dir / 'figures'
data_dir = root_dir / 'data'
#pi_dir = steps_dir / 'pi_stores'
#dist_dir = steps_dir / 'dist_stores'
#male_x_haploid_dir = steps_dir / 'male_x_haploids'

### Local code in the scripts dir on the cluster

In [3]:
scripts_dir = root_dir / 'scripts'
if str(scripts_dir) not in sys.path:
    sys.path.append(str(scripts_dir))

import simons_meta_data
import hg19_chrom_sizes

from GenomicWindows import window
import GenomicIntervals

### Convenience functions

In [4]:
def silent_nanmean(x):
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        return numpy.nanmean(x)

### Plotting setup

In [5]:
%matplotlib inline

# Make inline plots vector graphics instead of raster graphics
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('pdf', 'svg')

import matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from matplotlib.patches import Rectangle
from mpl_toolkits.basemap import Basemap
#matplotlib.rcParams['figure.figsize'] = (20.0, 10.0)

import mpld3

import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("paper")

# lowess for plotting
from statsmodels.nonparametric.smoothers_lowess import lowess
from scipy.interpolate import UnivariateSpline

In [6]:
# silence deprecation warnings (lots from seaborn)
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=numpy.VisibleDeprecationWarning)

# Load genome annotation

### Ampliconic regions and Shriram's regions

In [7]:
ampliconic_regions = (pandas.read_table(str(data_dir / 'coordinates_hg18_hg19_hg38_Amplicons_Gap.txt'))
                      .assign(start=lambda df: df.hg19_start, 
                              end=lambda df: df.hg19_end,
                              chrom='X')
                      .loc[:, ['chrom', 'start', 'end']]
                     )
ampliconic_regions.head()

# ampliconic_regions = (pandas.read_table(str(data_dir / 'AmpliconicRegions_hg19.csv'),
#                                        header=0,
#                                         names=['chrom', 'start', 'end', 'region', 'midpoint',
#                                                         'size', 'alignment', 'pnilsr']
#                                        )
#                       .loc[:, ['chrom', 'start', 'end']]
#                       .assign(chrom = lambda df: [x.replace('chr', '') for x in df.chrom])
#                      )

ampliconic_regions.to_hdf(results_dir / 'ampliconic_regions.hdf', 'df', mode='w')

no_neanderthal_asn = (pandas.read_table(str(data_dir / 'Neanderthal_ASN.csv'), sep=' ', 
                                       header=0, names=['chrom', 'start', 'end'])
                      .assign(chrom = lambda df: [x.replace('chr', '') for x in df.chrom])
                     )
no_neanderthal_asn.to_hdf(results_dir / 'no_neanderthal_asn.hdf', 'df', mode='w')


no_neanderthal_eur = (pandas.read_table(str(data_dir / 'Neanderthal_EUR.csv'), sep=' ',
                                       header=0, names=['chrom', 'start', 'end'])
                      .assign(chrom = lambda df: [x.replace('chr', '') for x in df.chrom])
                     )
no_neanderthal_eur.to_hdf(results_dir / 'no_neanderthal_eur.hdf', 'df', mode='w')

### RefSeq genes

In [8]:
refseq_genes = (pandas.read_table(str(data_dir / 'refseq_genes_hg19_table.txt')))
refseq_genes.chrom = [x.replace('chr', '') for x in refseq_genes.chrom]
refseq_genes.rename(columns={"txStart": "start", "txEnd": 'end'}, inplace=True)
refseq_genes.sort_values(by=['chrom', 'start', 'end'], inplace=True)

refseq_genes.to_hdf(results_dir / 'refseq_genes.hdf', 'df', mode='w')

Density of transcribed Refseq gene

In [9]:
window_size = 100000
@window(size=window_size, fill={'gene_density': 0})
def gene_density(df):
    df = GenomicIntervals.interval_collapse(df)

    return {'gene_density': sum(df.end - df.start) / window_size}

gene_density_df = refseq_genes.groupby('chrom').apply(gene_density).reset_index(level=['chrom'])

Density of refseq exons

In [10]:
def get_exons(df):
    exon_starts = list()
    exon_ends = list()
    for row in df.itertuples():
        chrom = row.chrom
        exon_starts.extend(list(map(int, row.exonStarts.split(',')[:-1])))
        exon_ends.extend(list(map(int, row.exonEnds.split(',')[:-1])))
    all_exons = DataFrame({'chrom': chrom, 'start': exon_starts, 'end': exon_ends})
    all_exons.sort_values(['start', 'end'], inplace=True)
    collapsed_exons = GenomicIntervals.interval_collapse(all_exons)
    return collapsed_exons

# data frame with exon start end coordinates
refseq_exons = refseq_genes.groupby('chrom').apply(get_exons).reset_index(drop=True)

window_size = 100000
@window(size=window_size)
def exon_density(df):
    return {'exon_density': sum(df.end - df.start) / window_size}

# windowed exon density
exon_density_df = refseq_exons.groupby('chrom').apply(exon_density).reset_index(level=['chrom'])

Merge both into one data frame

In [11]:
refseq_density = pandas.merge(exon_density_df, gene_density_df, on=['chrom', 'start', 'end'])

refseq_density.to_hdf(results_dir / 'refseq_density.hdf', 'df', mode='w')

## mirBase

GFF2 in hg19 ftp://mirbase.org/pub/mirbase/20/genomes/hsa.gff2

In [12]:
mir_base = pandas.read_table(data_dir / 'hsa.gff2.txt', skiprows=8, names=['chrom', 'source', 
                                                                           'method', 'start', 'end', 
                                                                           'score', 'strand',
                                                                          'phase', 'group'])
# turn zero based:
mir_base['start'] -= 1
mir_base['end'] -= 2
mir_base['chrom'] = mir_base.chrom.str.replace('chr', '')
mir_base.to_hdf(results_dir / 'mir_base.hdf', 'df', format='table', mode='w')
mir_base.head()

,chrom,source,method,start,end,score,strand,phase,group
0,1,.,miRNA,17368,17434,.,-,.,"ACC=""MI0022705""; ID=""hsa-mir-6859-1"";"
1,1,.,miRNA,30365,30501,.,+,.,"ACC=""MI0006363""; ID=""hsa-mir-1302-2"";"
2,1,.,miRNA,567704,567791,.,-,.,"ACC=""MI0022558""; ID=""hsa-mir-6723"";"
3,1,.,miRNA,1102483,1102576,.,+,.,"ACC=""MI0000342""; ID=""hsa-mir-200b"";"
4,1,.,miRNA,1103242,1103330,.,+,.,"ACC=""MI0000737""; ID=""hsa-mir-200a"";"

### All Ensembl biomart genes:

In [9]:
biomart_genes = pandas.read_table(data_dir / 'biomart_genes_hg19.tsv')
biomart_genes.rename(columns={'Gene name': 'name', 
                   'Chromosome/scaffold name': 'chrom',
                   'Gene start (bp)': 'start', 
                   'Gene end (bp)': 'end', 
                   'Strand': 'strand'}, inplace=True)
biomart_genes.head()

,Gene stable ID,chrom,start,end,strand,Gene type,name
0,ENSG00000261657,HG991_PATCH,66119285,66465398,1,protein_coding,SLC25A26
1,ENSG00000223116,13,23551994,23552136,-1,miRNA,AL157931.1
2,ENSG00000233440,13,23708313,23708703,1,pseudogene,HMGA1P6
3,ENSG00000207157,13,23726725,23726825,-1,misc_RNA,RNY3P4
4,ENSG00000229483,13,23743974,23744736,-1,lincRNA,LINC00362

In [10]:
biomart_genes.to_hdf(results_dir / 'biomart_genes.hdf', 'df', format='table', mode='w')

### Ensembl biomart genes with relevant GO ontologies:

In [11]:
names = ['stable_id', 'start', 'end',  'strand',  'name', 'go_acc', 'go_term', 'chrom']
    
biomart_chrX_hg19_go_meiosis = pandas.read_table(str(data_dir / 'biomart_chrX_hg19_go_meiosis.txt'),
                        header=0, names=names)
biomart_chrX_hg19_go_meiosis.to_hdf(results_dir / 'biomart_chrX_hg19_go_meiosis.hdf', 'df', format='table', mode='w')
                                          
biomart_chrX_hg19_go_spermatogenesis = pandas.read_table(str(data_dir / 'biomart_chrX_hg19_go_spermatogenesis.txt'),
                        header=0, names=names)
biomart_chrX_hg19_go_spermatogenesis.to_hdf(results_dir / 'biomart_chrX_hg19_go_spermatogenesis.hdf', 'df', format='table', mode='w')
    
biomart_chrX_hg19_go_apoptosis = pandas.read_table(str(data_dir / 'biomart_chrX_hg19_go_apoptosis.txt'),
                        header=0, names=names)
biomart_chrX_hg19_go_apoptosis.to_hdf(results_dir / 'biomart_chrX_hg19_go_apoptosis.hdf', 'df', format='table', mode='w')
    
# biomart_genes_with_go = pandas.read_table(str(data_dir / 'biomart_genes_hg19_genes_with_releveant_go.txt'),
#                         header=0, names=['stable_id', 'chrom', 'start', 'end', 'strand', 'name', 'go_acc', 'go_term'])
# biomart_genes_with_go.to_hdf(results_dir / 'biomart_genes_with_go.hdf', 'df', format='table', mode='w')

### Phastcons

In [16]:
phastcons_windows = pandas.read_table(data_dir / 'phastCons46way.primates.100kb.tsv',
                 header=0, dtype={'chrom': str}, names=['chrom', 'start', 'end', 'phastcons', 'var', 'skew'])
phastcons_windows.chrom = [x.replace('chr', '') for x in phastcons_windows.chrom]
phastcons_windows = phastcons_windows[['chrom', 'start', 'end', 'phastcons']]

phastcons_windows.to_hdf(results_dir / 'phastcons_windows.hdf', 'df', mode='w')

### Akey 2009 sweep meta analysis

In [17]:
akey_regions = (pandas.read_table(str(data_dir / 'Akey09_TableS1_hg19.tsv'),
                                        header=0,
                                        names=['chrom', 'start', 'end', 'nr_scans', 'references']
                                       )
                      .loc[:, ['chrom', 'start', 'end']]
                      .assign(chrom = lambda df: [x.replace('chr', '') for x in df.chrom])
                     )

akey_regions.to_hdf(results_dir / 'akey_regions.hdf', 'df', mode='w')

# Load great ape pi and ILS

### Pi data from Kiwoong's project

In [8]:
df_list = [pandas.read_table(str(data_dir / 'KiwoongsPiTables/PFW_C.txt')),
           pandas.read_table(str(data_dir / 'KiwoongsPiTables/PFW_G.txt')),
           pandas.read_table(str(data_dir / 'KiwoongsPiTables/PFW_O.txt')),
           pandas.read_table(str(data_dir / 'KiwoongsPiTables/PFW_B.txt'))]
df = pandas.concat(df_list)[['species', 'chr', 'pos', 'n.total', 'pi']]
df.columns = ['species', 'chrom', 'start', 'total', 'pi']
df.chrom = [x.replace('chr', '') for x in df.chrom]
df.start *= 100000
df['end'] = df.start + 100000


# def call_low_ape_pi_regions(df, maxpi, min_analyzed):
#     df = (df
#           .assign(pi = lambda df: df.pi.where(df.total >= min_analyzed)) 
#           .loc[:, ['chrom', 'start', 'end', 'species', 'pi']]
#           .groupby(['chrom', 'start', 'end', 'species'])
#           .aggregate(silent_nanmean)
#           .reset_index()
#           )
    
#     group_df_list = list()
#     for name, group in df.groupby(['chrom', 'species']):
#         group_df = (group
#                   .reset_index()
#                   .assign(run = 1, 
#                           islow = lambda df: df.pi <= maxpi) # turn masked into nan to break runs at missing data
#                   .assign(test = lambda df: (df.islow != df.islow.shift()).cumsum())
#                   .groupby(['chrom', 'species', 'test'])
#                   .aggregate({'start': 'min', 'end': 'max', 'run': 'sum', 'pi': 'mean'})
#                   .reset_index()
#                   .loc[lambda df: df.pi <= maxpi, :]
#              )
#         group_df_list.append(group_df)

#     return pandas.concat(group_df_list)
    
    
def call_low_ape_pi_regions(df, min_analyzed):
    df = (df
          .assign(pi = lambda df: df.pi.where(df.total >= min_analyzed)) 
          .loc[:, ['chrom', 'start', 'end', 'species', 'pi']]
          .groupby(['chrom', 'start', 'end', 'species'])
          .aggregate(silent_nanmean)
          .reset_index()
          )
    
    group_df_list = list()
    for name, group in df.groupby(['chrom', 'species']):
        
        maxpi = group.pi.mean() * 0.2
        
        group_df = (group
                  .reset_index()
                  .assign(run = 1, 
                          islow = lambda df: df.pi <= maxpi) # turn masked into nan to break runs at missing data
                  .assign(test = lambda df: (df.islow != df.islow.shift()).cumsum())
                  .groupby(['chrom', 'species', 'test'])
                  .aggregate({'start': 'min', 'end': 'max', 'run': 'sum', 'pi': 'mean'})
                  .reset_index()
                  .loc[lambda df: df.pi <= maxpi, :]
             )
        group_df_list.append(group_df)

    return pandas.concat(group_df_list)

df = (df.loc[df.chrom == 'X']
          .groupby(['chrom', 'species', 'start', 'end'])
          .aggregate(numpy.mean)
         )    
df = df.reset_index()

#max_pi_fraction_in_low_regions_apes = 0.2
#min_fraction_analyzed_apes = 30000

#low_ape_pi_regions = call_low_ape_pi_regions(df, max_pi_fraction_in_low_regions_apes, min_fraction_analyzed_apes)

max_pi_in_low_regions_apes = 0.0002
min_fraction_analyzed_apes = 30000

#low_ape_pi_regions = call_low_ape_pi_regions(df, max_pi_in_low_regions_apes, min_fraction_analyzed_apes)
low_ape_pi_regions = call_low_ape_pi_regions(df, min_fraction_analyzed_apes)

low_ape_pi_regions.to_hdf(results_dir / 'low_ape_pi_regions.hdf', 'df', mode='w')

In [69]:
low_ape_pi_regions.head()

  chrom species  test     start        pi  run       end
1     X      BO     2   4300000  0.000103    2   4500000
3     X      BO     4   8800000  0.000038    1   8900000
5     X      BO     6   9000000  0.000112    1   9100000
7     X      BO     8  10900000  0.000088    1  11000000
9     X      BO    10  16000000  0.000064    4  16400000

In [76]:
low_ape_pi_regions.species.unique()

array(['BO', 'CC', 'EC', 'ELG', 'NC', 'SO', 'WC', 'WLG'], dtype=object)

## Compute total superset of regions (excl. EWG that was excluded in Nam et al.)

In [91]:
from GenomicIntervals import interval_collapse

species_included = ['BO', 'CC', 'EC', 'NC', 'SO', 'WC', 'WLG']#, 'ELG']

df = interval_collapse(low_ape_pi_regions.loc[lambda df: df.species.isin(species_included)]
                       .sort_values(['chrom', 'start', 'end']))

df.assign(length=df.end-df.start).length.sum() / 155270560

0.18805883098508822

### Proportions of ILS in 1Mb windows from great ape ILS project

In [14]:
great_ape_ils_analysis_dir = Path('/home/kmt/projects/great_ape_ils_maps/analyses')

window_size = 1000000
col_names = ["start", "end", 'top1', 'top2', 'top3', 'top4']

human_chimp_chrX_ils_path = great_ape_ils_analysis_dir / "multiz_hg19_panTro3_gorGor3_ponAbe2/results/chr1-22_X.statesBin1000000chrX.import.coalhmm.list_chrHASH4563609074768454572.hdfmerge.minmaf500_maxgap100_maxn02_junkNn.tbl"
human_chimp_chrX_ils = (pandas.read_table(human_chimp_chrX_ils_path, names=col_names)
                        .assign(chrom = 'X',
                                prop_ils = lambda df: (df.top3 + df.top4) / (df.top1 + df.top2 + df.top3 + df.top4),
                                fraction_analyzed = lambda df: (df.top1 + df.top2 + df.top3 + df.top4) / window_size)
                       )

human_orang_chrX_ils_path = great_ape_ils_analysis_dir / "multiz_hg19_ponAbe2_nomLeu1_rheMac2/results/chr1-22_X.statesBin1000000chrX.import.coalhmm.list_chrHASH-5473120441099014340.hdfmerge.minmaf500_maxgap100_maxn02_junkNn.tbl"
human_orang_chrX_ils = (pandas.read_table(human_orang_chrX_ils_path, names=col_names)
                        .assign(chrom = 'X',
                                prop_ils = lambda df: (df.top3 + df.top4) / (df.top1 + df.top2 + df.top3 + df.top4),
                                fraction_analyzed = lambda df: (df.top1 + df.top2 + df.top3 + df.top4) / window_size)
                       )


human_chimp_chr7_ils_path = great_ape_ils_analysis_dir / "multiz_hg19_panTro3_gorGor3_ponAbe2/results/chr1-22_X.statesBin1000000chr7.import.coalhmm.list_chrHASH4563609074768454572.hdfmerge.minmaf500_maxgap100_maxn02_junkNn.tbl"
human_chimp_chr7_ils = (pandas.read_table(human_chimp_chr7_ils_path, names=col_names)
                        .assign(chrom = '7',
                                prop_ils = lambda df: (df.top3 + df.top4) / (df.top1 + df.top2 + df.top3 + df.top4),
                                fraction_analyzed = lambda df: (df.top1 + df.top2 + df.top3 + df.top4) / window_size)
                       )

human_orang_chr7_ils_path = great_ape_ils_analysis_dir / "multiz_hg19_ponAbe2_nomLeu1_rheMac2/results/chr1-22_X.statesBin1000000chr7.import.coalhmm.list_chrHASH-5473120441099014340.hdfmerge.minmaf500_maxgap100_maxn02_junkNn.tbl"
human_orang_chr7_ils = (pandas.read_table(human_orang_chr7_ils_path, names=col_names)
                        .assign(chrom = '7',
                                prop_ils = lambda df: (df.top3 + df.top4) / (df.top1 + df.top2 + df.top3 + df.top4),
                                fraction_analyzed = lambda df: (df.top1 + df.top2 + df.top3 + df.top4) / window_size)
                       )

def call_low_ils_regions(df, max_ils, min_analyzed):
    df = (df
          .assign(prop_ils = lambda df: df.prop_ils.where(df.fraction_analyzed >= min_analyzed)) 
          .loc[:, ['chrom', 'start', 'end', 'prop_ils']]
          .assign(run = 1, 
                  islow = lambda df: df.prop_ils <= max_ils) # turn masked into nan to break runs at missing data
          .assign(test = lambda df: (df.islow != df.islow.shift()).cumsum())
          .groupby(['chrom', 'test'])
                  .aggregate({'start': 'min', 'end': 'max', 'run': 'sum', 'prop_ils': 'mean'})
                  .reset_index()
          .loc[lambda df: df.prop_ils <= max_ils, :]
         )
    return df

max_ils_in_low_regions = 0.05
minimal_fraction_analyzed_ils = 0.3

human_chimp_low_ils_regions_chrX = call_low_ils_regions(human_chimp_chrX_ils, 
                                                        max_ils_in_low_regions, 
                                                        minimal_fraction_analyzed_ils)
human_chimp_low_ils_regions_chrX.to_hdf(results_dir / 'human_chimp_low_ils_regions_chrX.hdf', 'df', mode='w')

human_orang_low_ils_regions_chrX = call_low_ils_regions(human_orang_chrX_ils, 
                                                        max_ils_in_low_regions, 
                                                        minimal_fraction_analyzed_ils)
human_orang_low_ils_regions_chrX.to_hdf(results_dir / 'human_orang_low_ils_regions_chrX.hdf', 'df', mode='w')


human_chimp_low_ils_regions_chr7 = call_low_ils_regions(human_chimp_chr7_ils, 
                                                        max_ils_in_low_regions, 
                                                        minimal_fraction_analyzed_ils)
human_chimp_low_ils_regions_chr7.to_hdf(results_dir / 'human_chimp_low_ils_regions_chr7.hdf', 'df', mode='w')

human_orang_low_ils_regions_chr7 = call_low_ils_regions(human_orang_chr7_ils, 
                                                        max_ils_in_low_regions, 
                                                        minimal_fraction_analyzed_ils)
human_orang_low_ils_regions_chr7.to_hdf(results_dir / 'human_orang_low_ils_regions_chr7.hdf', 'df', mode='w')

In [65]:
f = '/home/kmt/projects/great_ape_ils_maps/analyses/multiz_hg19_panTro3_gorGor3_ponAbe2/results/chr1-22_X.bm100000.minp050maxsinfchr17.import.coalhmm.list_chrHASH4563609074768454572.hdfmerge.minmaf500_maxgap100_maxn02_junkNn.tbl'

human_orang_chr9_100kb = (pandas.read_table(f, header=None)#, names=col_names)
#                         .assign(chrom = '9',
#                                 prop_ils = lambda df: (df.top3 + df.top4) / (df.top1 + df.top2 + df.top3 + df.top4),
#                                 fraction_analyzed = lambda df: (df.top1 + df.top2 + df.top3 + df.top4) / window_size)
                       )
#human_orang_chr9_ils
human_orang_chr9_100kb.loc[lambda df: (df[0] > 53e6) & (df[1] < 57e6)]

,0,1,2,3,4,5,6,7,8,9,10,11
531,53100000.0,53200000.0,0.000492,0.000694,0.000291,0.000349,0.000520,0.000178,0.000144,0.000259,0.000029,0.48738
532,53200000.0,53300000.0,0.000915,0.001316,0.000514,0.000785,0.001158,0.000412,0.000131,0.000312,0.000000,0.22943
533,53300000.0,53400000.0,0.000843,0.001150,0.000536,0.000450,0.000677,0.000222,0.000393,0.000607,0.000180,0.35590
534,53400000.0,53500000.0,0.000861,0.001155,0.000567,0.000430,0.000641,0.000220,0.000430,0.000641,0.000220,0.39497
535,53500000.0,53600000.0,0.001102,0.001448,0.000756,0.000716,0.000997,0.000435,0.000386,0.000595,0.000176,0.36300
536,53600000.0,53700000.0,0.000943,0.001225,0.000661,0.000322,0.000490,0.000153,0.000622,0.000852,0.000391,0.46651
537,53700000.0,53800000.0,0.000976,0.001320,0.000633,0.000427,0.000659,0.000195,0.000549,0.000810,0.000288,0.32775
538,53800000.0,53900000.0,0.000892,0.001216,0.000567,0.000297,0.000491,0.000103,0.000594,0.000862,0.000327,0.33648
539,53900000.0,54000000.0,0.000899,0.001144,0.000655,0.000288,0.000430,0.000147,0.000611,0.000813,0.000408,0.58934
540,54000000.0,54100000.0,0.001036,0.001309,0.000762,0.000259,0.000400,0.000118,0.000777,0.001015,0.000539,0.54072
541,54100000.0,54200000.0,0.001021,0.001369,0.000672,0.000210,0.000378,0.000042,0.000810,0.001122,0.000499,0.33314
542,54200000.0,54300000.0,0.001256,0.001672,0.000840,0.000977,0.001345,0.000608,0.000279,0.000486,0.000072,0.28667
543,54300000.0,54400000.0,0.001133,0.001471,0.000794,0.000566,0.000809,0.000324,0.000566,0.000809,0.000324,0.38844
544,54400000.0,54500000.0,0.000888,0.001211,0.000565,0.000444,0.000677,0.000211,0.000444,0.000677,0.000211,0.33778
545,54500000.0,54600000.0,0.000721,0.001045,0.000397,0.000505,0.000779,0.000230,0.000216,0.000406,0.000027,0.27734
546,54600000.0,54700000.0,0.000698,0.000990,0.000407,0.000486,0.000732,0.000240,0.000213,0.000383,0.000042,0.32928
547,54700000.0,54800000.0,0.000838,0.001120,0.000557,0.000599,0.000838,0.000359,0.000240,0.000396,0.000083,0.41748
548,54800000.0,54900000.0,0.000781,0.001036,0.000526,0.000549,0.000764,0.000334,0.000232,0.000376,0.000088,0.47382
549,54900000.0,55000000.0,0.000513,0.000715,0.000312,0.000316,0.000476,0.000156,0.000197,0.000326,0.000068,0.50642
550,55000000.0,55100000.0,0.000669,0.000908,0.000429,0.000518,0.000729,0.000306,0.000151,0.000272,0.000030,0.46367
551,55100000.0,55200000.0,0.000684,0.000947,0.000421,0.000456,0.000673,0.000239,0.000228,0.000386,0.000070,0.39480
552,55200000.0,55300000.0,0.000737,0.001031,0.000442,0.000589,0.000854,0.000324,0.000147,0.000292,0.000003,0.33937
553,55300000.0,55400000.0,0.000646,0.000916,0.000376,0.000505,0.000746,0.000265,0.000140,0.000278,0.000003,0.35616
554,55400000.0,55500000.0,0.000624,0.000992,0.000255,0.000468,0.000792,0.000144,0.000156,0.000372,0.000000,0.19239
555,55500000.0,55600000.0,0.000673,0.001139,0.000207,0.000374,0.000740,0.000007,0.000299,0.000637,0.000000,0.13379
556,55600000.0,55700000.0,0.001102,0.001511,0.000694,0.000684,0.001009,0.000359,0.000418,0.000677,0.000159,0.26309
557,55700000.0,55800000.0,0.000773,0.001050,0.000497,0.000624,0.000873,0.000374,0.000150,0.000281,0.000018,0.40092
558,55800000.0,55900000.0,0.000775,0.001099,0.000451,0.000607,0.000895,0.000318,0.000169,0.000334,0.000003,0.29662
559,55900000.0,56000000.0,0.000683,0.001087,0.000280,0.000626,0.001015,0.000238,0.000057,NaN,NaN,0.17558
560,56000000.0,56100000.0,0.000280,0.000526,0.000035,0.000280,0.000526,0.000035,0.000000,NaN,NaN,0.21411
561,56100000.0,56200000.0,0.000655,0.000889,0.000420,0.000549,0.000764,0.000334,0.000106,0.000209,0.000002,0.47343
562,56200000.0,56300000.0,0.000784,0.001033,0.000534,0.000643,0.000869,0.000417,0.000141,0.000253,0.000028,0.49766
563,56300000.0,56400000.0,0.000336,0.000519,0.000153,0.000288,0.000458,0.000118,0.000048,0.000142,0.000000,0.41659
564,56400000.0,56500000.0,0.000323,0.000547,0.000099,0.000251,0.000452,0.000050,0.000072,0.000213,0.000000,0.27854
565,56500000.0,56600000.0,0.000592,0.000839,0.000345,0.000540,0.000777,0.000304,0.000051,0.000152,0.000000,0.38861
566,56600000.0,56700000.0,0.000192,0.000359,0.000024,0.000192,0.000359,0.000024,0.000000,NaN,NaN,0.31328
567,56700000.0,56800000.0,0.000448,0.000692,0.000205,0.000448,0.000692,0.000205,0.000000,NaN,NaN,0.31236
568,56800000.0,56900000.0,0.000085,0.000181,0.000000,0.000085,0.000181,0.000000,0.000000,NaN,NaN,0.47140

In [61]:
df = call_low_ils_regions(human_orang_chrX_ils, 
                           max_ils_in_low_regions, 
                           minimal_fraction_analyzed_ils)

df#.loc[(df.start > 50e6) & (df.end < 60e6)]

   chrom  test  run      start        end  prop_ils
1      X     2    3   26000000   29000000  0.041745
3      X     4    3   40000000   43000000  0.042974
5      X     6    2   68000000   70000000  0.033776
7      X     8    1   71000000   72000000  0.048062
9      X    10    3   98000000  101000000  0.023426
11     X    12    2  106000000  108000000  0.014441
13     X    14    1  124000000  125000000  0.036677
15     X    16    5  129000000  134000000  0.038673
17     X    18    1  154000000  155000000  0.035043

In [21]:
human_chimp_chrX_ils.loc[human_chimp_chrX_ils.fraction_analyzed >= minimal_fraction_analyzed_ils].prop_ils.mean()

0.13332299281536769

In [32]:
df = (human_chimp_chrX_ils
      .loc[human_chimp_chrX_ils.fraction_analyzed >= minimal_fraction_analyzed_ils]
      .loc[human_chimp_chrX_ils.prop_ils < 0.02]
     )
len(df) / 155.270560

0.11592667663464343

## Load Trine Line's circRNA results

In [20]:
trine_line_genes = pandas.read_csv(data_dir / 'trine_line_data/AnnoTable.csv')
trine_line_genes.drop(trine_line_genes.columns[[0]], axis=1, inplace=True)
trine_line_x_genes = trine_line_genes.loc[trine_line_genes.chr == 'chrX']
trine_line_x_genes.to_hdf(results_dir / 'trine_line_x_genes.hdf', 'df', format='table', mode='w')

# Chalmel genes

Read gene table from Chalmel paper SOM (I exported csv from the excel table):

In [7]:
chalmel_genes = pandas.read_csv(data_dir / 'chalmel_genes.csv', sep=';')
chalmel_genes.head()

,ID,GeneName,Description,biological_process terms,molecular_function terms,cellular_component terms,Human_Phenotype,Pattern,Expression in Testis,TF,...,tonsil-non_germinal_center_cells,tonsil-squamous_epithelial_cells,urinary_bladder-urothelial_cells,uterus_post_menopause-cells_in_endometrial_stroma,uterus_post_menopause-glandular_cells,uterus_pre_menopause-cells_in_endometrial_stroma,uterus_pre_menopause-glandular_cells,vagina-squamous_epithelial_cells,vulva_anal_skin-epidermal_cells,Unnamed: 180
0,210262_at,CRISP2,cysteine-rich secretory protein 2,-,-,extracellular space (0005615),-,12,PEHET,-,...,0,0,0,0,0,0,0,0,0,NaN
1,206112_at,ANKRD7,ankyrin repeat domain 7,male gonad development (0008584),-,-,-,11,SEHET,-,...,-,-,-,-,-,-,-,-,-,NaN
2,1558262_at,-,-,-,-,-,-,13,SEHET,-,...,-,-,-,-,-,-,-,-,-,NaN
3,207116_s_at,GAPDHS,"glyceraldehyde-3-phosphate dehydrogenase, sper...",gluconeogenesis (0006094);glycolysis (0006096)...,glyceraldehyde-3-phosphate dehydrogenase (NAD+...,cytosol (0005829);microtubule-based flagellum ...,-,13,SEHET,-,...,-,-,-,-,-,-,-,-,-,NaN
4,231612_at,C4orf35,chromosome 4 open reading frame 35,-,-,-,-,13,SEHET,-,...,-,-,-,-,-,-,-,-,-,NaN

In [12]:
chalmel_genes = chalmel_genes.merge(biomart_genes, left_on=['GeneName'], right_on=['name'], how='inner')
chalmel_genes.head()

,ID,GeneName,Description,biological_process terms,molecular_function terms,cellular_component terms,Human_Phenotype,Pattern,Expression in Testis,TF,...,vagina-squamous_epithelial_cells,vulva_anal_skin-epidermal_cells,Unnamed: 180,Gene stable ID,chrom,start,end,strand,Gene type,name
0,210262_at,CRISP2,cysteine-rich secretory protein 2,-,-,extracellular space (0005615),-,12,PEHET,-,...,0,0,NaN,ENSG00000124490,6,49660073,49681274,-1,protein_coding,CRISP2
1,206112_at,ANKRD7,ankyrin repeat domain 7,male gonad development (0008584),-,-,-,11,SEHET,-,...,-,-,NaN,ENSG00000106013,7,117854727,117882785,1,protein_coding,ANKRD7
2,207116_s_at,GAPDHS,"glyceraldehyde-3-phosphate dehydrogenase, sper...",gluconeogenesis (0006094);glycolysis (0006096)...,glyceraldehyde-3-phosphate dehydrogenase (NAD+...,cytosol (0005829);microtubule-based flagellum ...,-,13,SEHET,-,...,-,-,NaN,ENSG00000105679,19,36024314,36036218,1,protein_coding,GAPDHS
3,243208_x_at,ACTL9,actin-like 9,-,protein binding (0005515),cytoplasm (0005737);cytoskeleton (0005856),-,13,SEHET,-,...,2,2,NaN,ENSG00000263000,HG729_PATCH,8762287,8763706,-1,protein_coding,ACTL9
4,243208_x_at,ACTL9,actin-like 9,-,protein binding (0005515),cytoplasm (0005737);cytoskeleton (0005856),-,13,SEHET,-,...,2,2,NaN,ENSG00000181786,19,8807751,8809172,-1,protein_coding,ACTL9

In [17]:
#chalmel_genes.loc[(chalmel_genes.chrom == '3') & (chalmel_genes.start > 45e6) & (chalmel_genes.end < 55e6)].sort_values('start')

In [23]:
chalmel_genes.to_hdf(results_dir / 'chalmel_genes.hdf', 'df', format='table', mode='w')